<div class="grid-container">
  <router-outlet></router-outlet>
</div>
<h1 class="mat-h1">Dashboard</h1>
<mat-grid-list cols="1">
  <mat-grid-tile *ngFor="let organizacion of organizaciones">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{organizacion.nombre}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="[organizacion.Id]">Ver</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="organizacion.banner" [alt]="organizacion.nombre">
      <mat-card-content class="dashboard-card-content">
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
