<h1 class="mat-display-1">Oops page not found!</h1>


<mat-card>
    <mat-card-header>
        <mat-card-title>
            Página no encontrada
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/img/oops.jpg" height="90%" width="90%" alt="PageNotFound">
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [routerLink]="['/home']">Home</a>
        <a mat-button href="https://www.youtube.com/watch?v=CduA0TULnow" target="_blank">Ver el video</a>
    </mat-card-actions>
</mat-card>